<h1>Orders for <%= @user.name %></h1>

<% @orders.each do |order| %>
  <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <h3>Order #<%= order.id %> - <%= number_to_currency(order.total_price) %></h3>
    <ul>
      <% order.order_items.each do |item| %>
        <li><%= item.product.name %> x <%= item.quantity %></li>
      <% end %>
    </ul>
    <%= link_to "Show", user_order_path(@user, order) %> |
    <%= link_to "Edit", edit_user_order_path(@user, order) %> |
  <%= link_to " Delete ", user_order_path(@user, order),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this order?" } %>

  </div>
<% end %>
